<h2 class='bigtext'>Kontakt os</h2>
  <h3 class='smalltext'>Der er tilgængelige udgaver af Lorem Ipsum, men de fleste udgaver har gennemgået forandringer, når nogen har tilføjet humor eller tilfældige ord, som på ingen måde ser ægte ud</h3>

  <div id="kontaktgrid">
    <div class="container">
      <ng-template [ngIf]="clickCounter < 1" [ngIfElse]="sent">
      <form id="contact" action="" method="post">
        <fieldset>
          <input placeholder="Dit navn" type="text" [(ngModel)]="name" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Din mail" type="email" [(ngModel)]="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <textarea placeholder="DIn besked" tabindex="3" [(ngModel)]="besked" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" (click)="sendkon()">Submit</button>
        </fieldset>
      </form>
</ng-template>
<ng-template #sent>
  <p>Tak for din henvendelse</p>
  <p>{{name}}</p>
  <p>{{email}}</p>
  <p>{{besked}}</p>
</ng-template>


    </div>
    <div class="map">
      <p class="adresse"><strong>Adresse:</strong> Østeruttrupvej 1 9200 aalborg</p>
      <p class="tenefon"><strong>Telefon</strong> +4525269540</p>
      <img src="../../assets/map.PNG" alt="maps">
    </div>
 </div>

