<header>
  <div id='navgrid'>
   <div class="menuitem" routerLink="/forside" tabindex="{{1}}"><a class="center" >Forside</a></div>
   <div class="menuitem" routerLink="/kategori" tabindex="{{2}}"><a class="center" >Produkter</a></div>
   <div class="menuitem"><p class="logo" routerLink="/forside">Bageriet</p></div>
   <div class="menuitem" routerLink="/kontakt" tabindex="{{3}}"><a class="center" >Kontakt</a></div>
   <div class="menuitem" routerLink="/login" tabindex="{{4}}"><a class="center" >Login</a></div>
  </div>
</header>
<main>
<router-outlet></router-outlet>
</main>
<footer>
  <div id="footercontent">
  <p class="bigtextf">Bageriet</p>
  <p class="smalltextf">Der er tilgængelige udgaver af Lorem Ipsum, men de fleste udgaver har gennemgået forandringer</p>
  <p class="copyright">Copyright © 2020 Bageriet APS</p>
</div>
</footer>
